<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/font.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/grid.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/text.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/block.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="https://static.tildacdn.com/js/jquery-1.10.2.min.js" onerror="this.loaderr='y';"></script>
  
</head>
<body>
  {% extends "forma.html" %}   
</body>
</html>